/******  Variable Styles *********/

:root {
  --main-accent: #fc575e;
  --light-accent-color: #f1f1f5;
  --dark-accent-color: #333;
  --main-gray: #555;
}

/****** Resets *********/

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; /* incorporates the padding into the width+height */
}

/****** Global Styles *********/

body {
  background-color: var(--light-accent-color);
} 

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
  /* background-color: red; */
}

.hidden {
  display: none;
}

.header {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--main-gray);
}

/****** Navbar Styles *********/

/* div.container * {
  color: var(--light-accent-color);
} */

#nav {
  height: 60px;
  background-color: var(--dark-accent-color);
  margin-bottom: 25px;
}

#navContainer {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-header {
  color: var(--light-accent-color);
  font-size: 28px;
  transition: color 0.25s 0.35ms ease-in;
}

.nav-header:hover {
  color: var(--main-accent);
}

@media only screen and (max-width: 786px) {
  #nav {
    height: 100px;
  }

  #navContainer {
    flex-direction: column;
    justify-content: center;
  }
}

/****** Panel Styles *********/

.panel {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px var(--main-gray);
  padding: 40px 20px 20px 20px;
  margin: 10px;
}

/****** Form Styles *********/

.form-control {
  width: 100%;
  margin: 8px 0;
  height: 34px;
  border-radius: 5px;
  border: 1px solid var(--main-gray);
  padding: 5px 15px;
  font-size: 14px;
  color: var(--main-gray);
}

/****** Button Styles *********/

input[type='submit'], button {
  padding: 8px 22px;
  border-radius: 5px;
  border: 1px solid var(--main-accent);
  background-color: var(--main-accent);
  color: var(--light-accent-color);
  font-size: 16px;
  transition: all 0.2s 0.35ms linear;
}

input[type='submit']:hover, button:hover {
  cursor: pointer;
  color: var(--main-accent);
  background-color: white;
}

.btn-sm {
  font-size: 10px;
  padding: 5px 10px;
}

#addBtn {
  color: var(--light-accent-color);
  font-size: 24px;
  transition: all .05s .35ms linear;
}

#addBtn:hover {
  transform: scale(1.5);
}

/****** Link Styles *********/

.link {
  position: relative;
}

.flex-item {
  flex-basis: 100%;
}

#linksList {
  display: flex;
  flex-flow: row wrap;
}

.link-options {
  /* going to postion relative to parent container [.link] */
  position: absolute;
  top: 5px;
  right: 5px;
}

.link-date {
  font-size: 14px;
  font-style: italic;
}
#addedCategories {
  margin-bottom: 15px;
}

.category {
  font-weight: bold;
  padding: 5px;
  border: 1px solid var(--main-accent);
  border-radius: 5px;
  font-size: 10px;
  background-color: var(--main-accent);
  color: var(--light-accent-color);
}

/* Once screen is 1279px - 786px width set to 2 Links Per Row */
@media only screen and (min-width: 786px) {
  .flex-item {
    flex-basis: 50%;
  }
}

/* Once screen is larger than 1280px width set to 3 Links Per Row */
@media only screen and (min-width: 1280px) {
  .flex-item {
    flex-basis: 33%;
  }
}
