/******  Variable Styles *********/

/* :root {
  --main-accent: #fc575e;
  --light-accent-color: #f1f1f5;
  --dark-accent-color: #333;
  --main-gray: #555;
} */

/****** Resets *********/

* {
  box-sizing: border-box; /* incorporates the padding into the width+height */
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/****** Global Styles *********/

body {
  background-color: var(--light-accent-color);
} 

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 80%;
  /* background-color: red; */
}

/****** Navbar Styles *********/

/* div.container * {
  color: var(--light-accent-color);
} */

#nav {
  margin-bottom: 25px;
  height: 60px;
  background-color: var(--dark-accent-color);
}

#navContainer {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100%;
}

.nav-header {
  color: var(--light-accent-color);
  font-size: 28px;
}

#addBtn {
  color: var(--light-accent-color);
  font-size: 24px;
}

/****** Panel Styles *********/

.panel {
  padding: 40px 20px 20px 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 3px var(--main-gray);
}

.panel-heading {
  margin-bottom: 20px;
  color: var(--main-gray);
  font-size: 24px;
}

/****** Form Styles *********/

.form-control {
  margin: 8px 0;
  width: 100%;
  height: 34px;
  border: 1px solid var(--main-gray);
  border-radius: 5px;
  color: var(--main-gray);
  font-size: 14px;
}
